env
venv
__pycache__/
*.dylib
*.bin
*.pkl
*.h5
*.zip

congnituskumen/
congnituskumen/
*.dylib
*.bin
*.pkl
*.h5
__pycache__/
.env
congnituskumen/
.env
*.dylib
*.bin
*.pkl
*.h5
__pycache__/
.env
venv
__pycache__/
